html, body {
  width: 100vw;
  font-family: 'Comfortaa';
}

body, div, h1, h2, li {
  padding: 0px;
  margin: 0px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
}

.app {
  display: flex;
  flex-direction: row;
  width: 100vw;
  min-height: 100vh;
}

.side-nav {
  background: rgb(0,0,0,0);
  width: 256px;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
}

.side-nav > * {
  width: 128px;
  padding: 6px;
  margin: 8px auto;
}

.main-content {
  background: rgb(0,0,0,0);
  flex: 1;
}

.nav-logo-container {
  width: 256px;
  height: 256px;
  margin: 0px;
  border-bottom: 1px solid lightgray;
  
  display: flex;
}

.nav-logo-image {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 1px solid black;
  
  margin: auto;
  animation: logo-spin infinite 5s linear;
}

#search-textbox {
  width: 114px;
  margin: 12px auto;
  border-radius: 12px;
  border: 1px solid black;
}

.nav-btn {
  border-radius: 12px;
  border: 1px solid black;
}

#genre-title-container {
  margin-bottom: 0px;
}

#genre-container {
  padding-left: 48px;
  padding-top: 0px;
  margin-top: 0px;
  display: none;
}

#genre-container.show {
  display: flex;
}

#genre-container > * > button {
  width: 102px;
  height: 24px;
  margin: 4px;
  border-radius: 12px;
}

#toggleGenreBtn {
  border-radius: 50%;
  border: 1px solid black;
}

.genre-btn {
  background: white;
  border: 1px solid rgb(0,0,0,0.2);
}

.genre-btn.checked {
  background: white;
  border: 1px solid black;
}


#page-title-container {
  width: 80%;
  margin: 0px auto;
  margin-top: 96px;
}

#page-title {
  text-decoration: underline;
}

#sort-dropdown-btn {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid black;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}