/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/



/* MAIN.CSS STARTS HERE */
html, body {
  width: 100vw;
  font-family: 'Comfortaa';
}

body, div, h1, h2, li {
  padding: 0px;
  margin: 0px;
}

button {
  background: white;
  border: 1px solid rgb(0,0,0,0.6);
  border-radius: 50%;
  height: 24px;
  width: 24px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
}

.app {
  display: flex;
  flex-direction: row;
  width: 100vw;
  min-height: 100vh;
}

.side-nav {
  background: rgb(0,0,0,0);
  width: 256px;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
}

.side-nav > * {
  width: 128px;
  padding: 6px;
  margin: 8px auto;
}

.main-content {
  background: rgb(0,0,0,0);
  flex: 1;
}

.nav-logo-container {
  width: 256px;
  height: 256px;
  margin: 0px;
  padding: 0px;
  border-bottom: 1px solid lightgray;
  display: flex;
}

.nav-logo-image {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 1px solid black;
  
  margin: auto;
  animation: logo-spin infinite 5s linear;
}

#search-textbox {
  width: 114px;
  margin-top: 16px;
  padding: 3px 6px;
  border-radius: 12px;
  border: 1px solid black;
}

.nav-btn {
  padding: 0px; 
  border-radius: 12px;
  border: 1px solid black;
  text-align: center;
  border: 1px solid rgb(0,0,0,0.2);
}

.nav-btn-active {
  padding: 0px; 
  border-radius: 12px;
  border: 1px solid black;
  text-align: center;
  border: 1px solid black;
}

.genre-label {
  text-decoration: underline;
}

.genre-list {
  padding-top: 8px;
  padding-left: 22px;
}

.genre-btn {
  width: 102px;
  height: 24px;
  margin: 4px;
  border-radius: 12px;
  background: white;
  border: 1px solid rgb(0,0,0,0.2);
}

.genre-btn-active {
  width: 102px;
  height: 24px;
  margin: 4px;
  border-radius: 12px;
  background: white;
  border: 1px solid black;
}


#page-title-container {
  width: 80%;
  margin: 0px auto;
  margin-top: 96px;
  margin-left: 64px;
}

#page-title {
  text-decoration: underline;
}

#sort-dropdown-btn {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid black;
  font-size: 14pt;
}

.day-container {
  width: 80%;
  margin: 32px 52px;
}

.day-label {
  text-decoration: underline;
  font-weight: bold;
  margin: 12px;
}

.anime-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  margin-left: 0px;
}

.anime-list > * {
  margin: 24px 12px;
}

.show-container {
  position: relative;
  height: 315px;
  width: 225px;
  border-radius: 10px;
  overflow: hidden;
}

.show-container:hover {
  transition: 0.1s;
  transform: scale(1.03);
  box-shadow: 0px 0px 15px 2px rgb(0,0,0,0.2);
}

.show-image {
  min-height: 315px;
  min-width: 225px;
  width: auto;
  padding: 0px;
  margin: auto;
}

.show-image-overlay {
  height: 64px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  background: rgb(0,0,0,0.6);
  color: white;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  transition: 0.2s; 
}

.show-image-overlay:hover {
  transition: 0.4s;
  overflow-y: scroll;
  height: 100%;
  background: rgb(0,0,0,0.9);
}

.show-title {
  padding: 8px 0px 0px 8px;
  font-size: 12pt;
  font-weight: bold;
  margin-top: 4px;
  cursor: pointer;
}

.show-title:hover {
  text-decoration: underline;
}


.show-countdown {
  padding: 12px 0px 12px 8px;
  font-size: 9pt;
  margin-top: 22px;
}

.save-btn {
  transform: scale(2);
  position: absolute;
  top: 16px;
  right: 16px;
  color: white;
  display: none;
}

.save-btn:hover {
  transition: 0.1s;
  transform: scale(2.2);
  color: yellow;
  cursor: pointer;
}

.save-btn-checked {
  color: yellow;
  display: block;
}

.show-left:hover > .save-btn {
  display: block;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}